* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poiret One', cursive;
    background-color: rgb(247, 251, 255);
}

header {
    background-color: pink;
    color: #fff;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 22px;
    height: 100px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #fff
}

main {
    margin: 0 auto;
    padding: 10px 20px;
    min-height: calc(100vh - 100px - 58.4px);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.footer {
    background-color: pink;
    color: #fff;
    font-size: 14px;
    padding: 20px 0 20px;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: rgb(250, 96, 158);
    margin-bottom: 20px;
}

.footer-column {
    min-width: 250px;
    margin-bottom: 10px;
    flex-basis: 70%;
}

.footer hr {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 1px;
    margin: 10px 0;
}

.copyright {
    text-align: center;
}

a:hover {
    color: rgb(255, 103, 129);
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    margin-right: 10px;
    display: none;
}

.instagram_icon {
    margin-top: 10px;
}


/*----------MEDIA QUERY---------*/

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: pink;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 1120px) {
    nav ul li {
        margin-right: 20px;
    }
    .cart-icon {
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        text-align: center;
    }
    #MenuItems {
        font-size: 18px;
    }
}